{% extends 'base.html.twig' %}

{% block body %}
    <div class='row'>
        <div class='col'>
            <h1>Administration</h1>
            <h2>Ajouter / Modifier un produit</h2>
            
            {#
            désactiver la validation HTML
                <form novalidate="novalidate">
            clé attr : permet d'ajouter des attributs HTML
            #}
            {{ form_start(form, {attr: { novalidate: 'novalidate' } }) }}
            <p>
                {{ form_label(form.titre, 'Titre : ') }}
                {{ form_widget(form.titre, { attr: { placeholder: 'Le titre de la recette', autofocus: 'autofocus' } }) }}
            </p>
            <p>
                {{ form_label(form.chapo, 'Chapo : ') }}
                {{ form_widget(form.chapo, { attr: { placeholder: 'une accroche'} }) }}
            </p>
            <p>
                {{ form_label(form.preparation, 'Preparation : ') }}
                {{ form_widget(form.preparation, { attr: { placeholder: 'Les étapes de la preparation'} }) }}
            </p>
            <p>
                {{ form_label(form.ingredient, 'Ingredient : ') }}
                {{ form_widget(form.ingredient, { attr: { placeholder: 'La liste des ingredients'} }) }}
            </p>
            <p>
                {{ form_label(form.tempsCuisson, 'Temps Cuisson : ') }}
                {{ form_widget(form.tempsCuisson, { attr: { placeholder: 'Le temps de la cuisson'} }) }}
            </p>
            <p>
                {{ form_label(form.tempsPreparation, 'Temps Preparation : ') }}
                {{ form_widget(form.tempsPreparation, { attr: { placeholder: 'Le temps de la preparation'} }) }}
            </p>
            <p>
                {{ form_label(form.difficulte, 'Difficulté : ') }}
                {{ form_widget(form.difficulte, { attr: { placeholder: 'La difficulté'} }) }}
            </p>
            <p>
                {{ form_label(form.prix, 'Prix : ') }}
                {{ form_widget(form.prix, { attr: { placeholder: 'Le prix'} }) }}
            </p>
            
            <p class="custom-file">
                {{ form_label(form.img, 'Image : ', 
                { attr: { class: "custom-file-label"} } 
                ) }}
                {{ form_widget(form.img) }}
            </p>

            <p>
                <button class="btn btn-primary">Valider</button>
            </p>
            {{ form_end(form) }}
            
        </div>
    </div>
{% endblock %}