{% extends 'base.html.twig' %}

{% block body %}
    <div class='row'>
        <div class='col'>
            <h1>Administration</h1>
            <h2>Gestion des produits</h2>
            
            {# Message flash #}
            {% for message in app.flashes('notice') %}
                <p class="alert alert-success">{{ message }}</p>
            {% endfor %}
            
            <p class="text-right">
                <a href="{{ url('admin.recettes.form') }}" class="btn btn-primary">Ajouter</a>
            </p>

            <table class="table table-striped">
                <tr>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Chapo</th>
                    <th>Prix</th>
                    <th>Catégorie</th>
                    <th></th>
                </tr>

                {% for recette in recettes %}
                    <tr>
                        <td class="w-25">
                            <img 
                                class="img-fluid"
                                src="{{ asset('img/' ~ recette.img) }}" 
                                alt="{{ recette.img }}"
                                >
                        </td>
                        <td>{{ recette.titre | capitalize }}</td>
                        <td>{{ recette.chapo }}</td>
                        <td>{{ recette.prix }}€</td>
                        <td></td>
                        <td>
                            <a class="btn btn-warning" href="{{ url('', { }) }}">Modifier</a>
                            <a class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" href="{{ url('', {  }) }}">Supprimer</a>
                        </td>
                    </tr>
                </table>
            {% endfor %}

            <hr>
            <p>
                <a href="{{ url('admin.homepage.index') }}" class='btn btn-info'>Accueil de l'administration</a>
            </p>
        </div>

    </div>
{% endblock %}
