{% extends 'base.html.twig' %}

{% block body %}
    <div class='row'>
        <div class='col'>
    <h2>Toutes nos recettes</h2>
        </div>
    </div>
    
    <div class='row'>
        {% for recette in recettes %}
            <div class='col-4'>
                <h3>{{ recette.titre | capitalize }}</h3>
                <img src="{{ asset('img/' ~ recette.img) }}" alt="{{ recette.img }}">
                <p><a href="{{ url('recettes.recette', {idRecette: recette.id}) }}" class="btn btn-primary">Consulter</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
