{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class='col-sm-4'>
            <h3>{{ recette.titre }}</h3>
            <img src="{{  asset('img/' ~ recette.img) }}" alt="{{ recette.titre }}">
        </div>
    </div>
    
{% endblock %}
