<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

        <a class="navbar-brand" href="{{ url('homepage.index') }}">
            <img src="{{ asset('img/logo/logo-cooking.png') }}" width="150" alt="cooking-logo">
        </a>

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url('recettes.index') }}">Recettes<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url('membres.index') }}">Membres<span class="sr-only">(current)</span></a>
            </li>
        </ul>

        {# <ul class="navbar-nav mt-2 mt-lg-0">
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url('admin.homepage.index') }}">Admin<span class="sr-only">(current)</span></a>
            </li>
            {% endif %}
            <li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="nav-link" href="{{ logout_url() }}"
                       >Se déconnecter<span class="sr-only">(current)</span>
                    </a>
                {% else %}
                    <a class="nav-link" href="{{ url('security.login') }}">
                        Se connecter<span class="sr-only">(current)</span>
                    </a>
                {% endif %}  
            </li>
            
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url('registration.register') }}">
                    S'enregistrer<span class="sr-only">(current)</span>
                </a>
            </li>
            {% endif %}
        </ul> #}

    </div>
</nav>