{% extends 'base.html.twig' %}

{% block body %}
    <div class='row'>
        <div class='col'>
    <h2>Nos membres</h2>
        </div>
    </div>
    
    <div class='row'>
        {% for membre in membres %}
            <div class='col-4'>
                <h3>{{ membre.prenom | capitalize }} {{ membre.nom | capitalize }}</h3>
                <img src="{{ asset('img/' ~ membre.gravatar) }}" alt="{{ membre.gravatar }}">
                <p><a href="{{ url('membres.membre', {idMembre: membre.id}) }}" class="btn btn-primary">Consulter</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
